<ion-view view-title="{{ 'book' | translate }}">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="{{details.image}}">
                <h2>{{details.title}}</h2>
                <p>November 05, 1955</p>
            </div>

            <div class="item item-body">
                <div class="row">
                    <div class="col">
                        <img ng-src="{{details.images.medium}}">
                    </div>
                    <div class="col">
                        <div>
                            作者: (法)托克维尔
                        </div>
                        <div>
                            出版社: 商务印书馆
                        </div>
                        <div>
                            副标题: 上下
                        </div>
                        <div>
                            原作名: De la démocratie en Amérique
                        </div>
                        <div>
                            译者: 董果良
                        </div>
                        <div>
                            出版年: 1989-1
                        </div>
                        <div>
                            页数: 974
                        </div>
                        <div>
                            定价: 60.00
                        </div>
                        <div>
                            装帧: 平装
                        </div>
                        <div>
                            丛书: 汉译世界学术名著丛书·政治法律社会
                        </div>
                        <div>
                            ISBN: 9787100011105
                        </div>
                    </div>
                    <div class="col">
                        <rating ng-model="rate" max="max" readonly="false"></rating>
                    </div>
                </div>
                <div class="row">
                    <!--<div>{{details.summary}}</div>-->
                        <button class="button button-small button-positive" ng-repeat="tag in getTags(details.tags)" style="margin:5px">
                            {{tag}}
                        </button>

                </div>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
