<ion-view view-title="{{ 'bookRecommendation' | translate }}">
    <ion-content>
        <div class="list">
            <a class="item">
                <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true">
                    <ion-slide>
                        <div style="text-align: center">
                            <img src="http://img1.douban.com/mpic/s1001902.jpg">
                            <h1>BLUE</h1>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div style="text-align: center">
                            <img src="http://img1.douban.com/mpic/s1001902.jpg">
                            <h1>YELLOW</h1>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div style="text-align: center">
                            <img src="http://img1.douban.com/mpic/s1001902.jpg">
                            <h1>PINK</h1>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </a>

            <a class="item item-thumbnail-left" href="#/insight/book/1222" ng-repeat="recommendation in recommendations">
                <img ng-src="{{recommendation.image}}" alt="{{recommendation.alt}}">
                <h2><strong>{{recommendation.title}}/{{recommendation.author.join(',')}}/{{recommendation.translator.join(',')}}</strong></h2>
                <p>{{recommendation.summary}}</p>
                <p>{{getTags(recommendation.tags).join(',')}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>
