<ion-view view-title="{{ 'bookRecommendation' | translate }}">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left" href="#" ng-repeat="recommendation in recommendations">
                <img ng-src="{{recommendation.image}}" alt="{{recommendation.alt}}">
                <h2>{{recommendation.title}}/{{recommendation.author.join(',')}}/{{recommendation.translator.join(',')}}</h2>
                <p>{{recommendation.summary}}</p>
                <p>{{getTags(recommendation.tags).join(',')}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>
