<ion-view view-title="{{ currentStatus | translate }}">
    <ion-content>
        <!--<ion-infinite-scroll-->
        <!--distance="2%"-->
        <!--ng-if="moreDataCanBeLoaded()"-->
        <!--on-infinite="loadMore()">-->
        <!--</ion-infinite-scroll>-->
                <div class="list">
                    <a class="item item-thumbnail-left" href="#/insight/book/1222" ng-repeat="recommendation in recommendations">
                        <img ng-src="{{recommendation.image}}" alt="{{recommendation.alt}}">
                        <h2><strong>{{recommendation.title}}</strong></h2>
                        <p>{{recommendation.author.join(',')}}/{{recommendation.translator.join(',')}}/{{recommendation.publisher}}/{{recommendation.pubdate | date}}</p>
                        <!--<p>{{recommendation.summary}}</p>-->
                        <p>{{getTags(recommendation.tags).join(',')}}</p>
                    </a>
                </div>
    </ion-content>
</ion-view>