<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

    <ion-tab title="{{'borrowedTo' | translate}}" icon="ion-ios-book-outline" ui-sref="insight.booksForBorrow.borrowedTo">
        <ion-nav-view name="borrowedToContent">
        </ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'borrowedFrom' | translate}}" icon="ion-ios-box-outline" ui-sref="insight.booksForBorrow.borrowedFrom">
        <ion-nav-view name="borrowedFromContent">
        </ion-nav-view>
    </ion-tab>

</ion-tabs>