<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <ion-tab title="Home" icon="ion-home" href="#/insight/service/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Store Service" icon="ion-ios-information" href="#/insight/service/storeService">
        <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Contact" icon="ion-ios-world" ui-sref="insight.customerService.contact">
        <ion-nav-view name="contact-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>